.link_home{
    text-decoration: none;
    box-shadow: none;
    color: white;
    text-align: left !important;
}
.link_users{
    text-decoration: none;
    box-shadow: none;
    color: white;
    text-align: right;
}